*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
     
}
body{
    background-color: rgb(109, 109, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    height: 300px;
    width: 250px;
    /* color: rgb(239, 244, 244); */
    border: 2px solid black;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
  
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;
}
.btn button{
    gap: 20px;
    padding: 10px;
    background-color: rgb(101, 234, 190);
    border: none;
    border-radius: 10px;
    font-weight: 800;
    color: azure;
    cursor: pointer;
}
h4{
    font-size: 20px;
    font-weight: 700;
    color: red;
}